.hello {
    color: red;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    padding: 30px;
}

a {
    font-size: 100px;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
    background-color: #007A87;
    color: white;
    border-radius: 2px;
    padding: 28px;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 32px;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 32px;
}

input[type="submit"] {
    margin-top: 15px;
    appearance: none;
    text-transform: uppercase;
    padding: 18px;
    font-size: 38px;
    background-color: #FF715E;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    outline: none;
    border: none;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
    padding: 12px;
    margin: 12px;

    border: 2px solid rgb(200, 200, 200);

    min-height: 60px; /* TODO: Ideally we should decide the height implicitly based on paddings and text height and so on */
}

.parent:focus-within {
    border: 2px solid rgb(106, 102, 111);
}

.parent > input {
    z-index: 2; /* Place the input field on top of the placeholder label so that the label doesn't prevent us from selecting the input field. */
    background: none;

    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.3px;
    line-height: 1.1;

    border: none;
    padding: 0px;
    margin: 0px;
}

.parent > input:focus {
    outline: none;
}

.parent > label {
    position: absolute;
    opacity: 1;
    user-select: none;

    font-size: 18px;
    font-weight: var(--regular-weight);
    color: rgb(158, 154, 164);

    transform: translateY(0px);
    transition: color 150ms ease 0s, transform 150ms ease 0s, opacity 100ms ease 0s, font-size 100ms ease 0s, margin 100ms ease 0s, visibility 100ms ease 0s;
}

.parent:focus-within > label, .parent.non-empty > label {
    transform: translateY(-16px);
    font-size: 12px;
}